<!DOCTYPE html>
<HTML>
  <head>
      <meta charset="utf-8">
      <title> Some website</title>
  </head>

  <body>
    <h1> maintenace</h1>
    <p> Site being updated </p>

    {{> footer}}
  </body>
</HTML>
